staff.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="personType" />
        <xs:complexType name="personType">
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="age" type="xs:integer" />
            </xs:sequence>
            <xs:attribute name="number" type="xs:integer" />
        </xs:complexType>   
</xs:schema>